<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Error has occured</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="shortcut icon" href="/images/moosend-tab-logo.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<nav class="navbar fixed-top navbar-expand-xl navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/images/moosend-navbar-logo-removebg-preview.png" alt="moosendlogo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <div class="toggler-btn">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </div>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Platform
              </a>
              <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                <div class="arrow-up"></div>
                <div class="row">
                  <div class="col-sm-6 col-lg-3 space">
                  <a href="#"class="dropdown-item">Email</a>
                  <a href="#"class="dropdown-item">Landing Pages</a>
                  <a href="#"class="dropdown-item">Newsletter Editor</a>
                  <a href="#"class="dropdown-item">Personaliztion</a>
                  <a href="#"class="dropdown-item">Reporting & Analytcis</a>
                
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <a href="#"class="dropdown-item">Marketing Automation</a>
                    <a href="#"class="dropdown-item">Subscription Forms</a>
                    <a href="#"class="dropdown-item">Ecommerce AI</a>
                    <a href="#"class="dropdown-item">Tracking</a>
                    <a href="#"class="dropdown-item">Integration</a>
                    </div>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Industries
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="arrow-up"></div>
                <a class="dropdown-item" href="#">Ecommerce</a>
                <a class="dropdown-item" href="#">Agencies</a>
                <a class="dropdown-item" href="#">Travel</a>
                <a class="dropdown-item" href="#">Publisher</a>
                <a class="dropdown-item" href="#">SaaS</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Resources
              </a>
              <div class="dropdown-menu  mega-menu" aria-labelledby="navbarDropdown">
                <div class="arrow-up"></div>
                <div class="row">
                  <div class="col-sm-6 col-lg-3 space">
                  <a href="#"class="dropdown-item">Blog</a>
                  <a href="#"class="dropdown-item">Help Center</a>
                  <a href="#"class="dropdown-item">Webinars</a>
                  <a href="#"class="dropdown-item">Extra Tools</a>
                  <a href="#"class="dropdown-item">Marketing Templates</a>
                
                  </div>
                  <div class="col-sm-6 col-lg-3 ">
                    <a href="#"class="dropdown-item">Academy</a>
                    <a href="#"class="dropdown-item">Refine</a>
                    <a href="#"class="dropdown-item">Infographics</a>
                    <a href="#"class="dropdown-item">Affiliate Program</a>
                    <a href="#"class="dropdown-item">Automation Templates</a>
                    </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Customers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Contact</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn login  my-2 my-sm-0" type="submit">Login</button>
            <button class="btn register  my-2 my-sm-0" type="submit">Register</button>
          </form>
        </div>
       
    </div>
  </nav>
<body>
    