
<footer class="gods">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-12">
                <div class="gods__images">
                    <img src="/images/footer-logo-removebg-preview.png" alt="footerlogo">
                </div>
            </div>
            <div class="col-lg-2 col-12">
                <div class="gods__content">
                    <h2>Product Features</h2>
                    <ul class="gods__list">
                        <li class="gods__item"><a href="#" class="gods__link">All Features</a></li>
                        <li class="gods__item"><a href="#" class="gods__link">Email Marketing</a></li>
                        <li class="gods__item"><a href="#" class="gods__link">Newsletter Editor</a></li>
                        <li class="gods__item"><a href="#" class="gods__link">Marketing Automation</a></li>
                        <li class="gods__item"><a href="#" class="gods__link">Ecommerce AI</a></li>
                        <li class="gods__item"><a href="" class="gods__link">Landing Pages</a></li>
                        <li class="gods__item"><a href="" class="gods__link">Subscription Forms</a></li>
                        <li class="gods__item"><a href="" class="gods__link">Report & Analytics</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-12">
                <div class="gods__content">
                    <h2>Platform</h2>
                    <ul class="gods__list">
                        <li class="gods__item"><a href="#" class="gods__link">Pricing</a></li>
                        <li class="gods__item"><a href="#" class="gods__link">Help</a></li>
                        <li class="gods__item"><a href="#" class="gods__link">Integrations</a></li>
                        <li class="gods__item"><a href="#" class="gods__link">API</a></li>
                        <li class="gods__item"><a href="#" class="gods__link">Affiliate Program</a></li>
                </div>
            </div>
            <div class="col-lg-2 col-12">
                <div class="gods__content">
                    <h2>Resources</h2>
                    <ul class="gods__list">
                        <li class="gods__item"><a href="#" class="gods__link">Blog</a></li>
                        <li class="gods__item"><a href="#" class="gods__link">Newsletter Template</a></li>
                        <li class="gods__item"><a href="#" class="gods__link">Landing Page Templates</a></li>
                        <li class="gods__item"><a href="#" class="gods__link">Form Templates</a></li>
                        <li class="gods__item"><a href="#" class="gods__link">Automation Templates</a></li>
                        <li class="gods__item"><a href="" class="gods__link">Subject Line Tester</a></li>
                        <li class="gods__item"><a href="" class="gods__link">Mailchimp Alternatives</a></li>
                        <li class="gods__item"><a href="" class="gods__link">Constant Contact Alternatives</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-12">
                <div class="gods__content">
                    <h2>Company</h2>
                    <ul class="gods__list">
                        <li class="gods__item"><a href="#" class="gods__link">Contact Us</a></li>
                        <li class="gods__item"><a href="#" class="gods__link">Trust and Policy Center</a></li>
                        <li class="gods__item"><a href="#" class="gods__link">Customers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-12">
                <ul class="gods__socailL">
                    <li class="gods__socailItem"><a href="#" class="gods__socailLink">
                        <svg class="gods__icon">
                            <use xlink:href="images/symbol-defs.svg#icon-facebook"></use>
                        </svg>
                    </a></li>
                    <li class="gods__socailItem"><a href="#" class="gods__socailLink">
                        <svg class="gods__icon">
                            <use xlink:href="images/symbol-defs.svg#icon-twitter"></use>
                        </svg>
                    </a></li>
                    <li class="gods__socailItem"><a href="#" class="gods__socailLink">
                        <svg class="gods__icon">
                            <use xlink:href="images/symbol-defs.svg#icon-linkedin"></use>
                        </svg>
                    </a></li>
                </ul>
               
            </div>
        </div>
        <hr>
        <br>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="gods__bottomInfo">
                    <p>&copy; Moosend. All rights reserved</p>
                </div>
            </div>
            <div class="col-lg-6 col-12">
               <ul class="gods__bottomlist">
                   <li class="gods__bottomItem"><a href="#" class="gods__bottomlink">Anti-Spam & Anit-Abuse Policy</a></li>
                   <li class="gods__bottomItem"><a href="#" class="gods__bottomlink">GDPR Compliant Privacy Policy</a></li>
                   <li class="gods__bottomItem"><a href="#" class="gods__bottomlink">Terms & Conditions</a></li>
                   <li class="gods__bottomItem"><a href="#" class="gods__bottomlink">Affiliant Program T&C</a></li>
               </ul>
            </div>
        </div>
    </div>
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/money.js"></script>
</html>