.thanks{
   
    &__content h2{
        margin-top: 8rem;
        border: .2rem solid var(--hover-link);
        padding: 1.3rem;
    }
    &__content img{
        width: 100%;
        
    }
}
.thanks2{
   
    &__content h2{
        margin-top: 8rem;
        border: .2rem solid red;
        padding: 1.3rem;
    }
    &__content img{
        width: 100%;
    }
    &__buttom{
        font-size: 1.5rem;
        color: #fff;
        background-color: #e35c5c;
        padding: .8rem 1.4rem;
        border-radius: 2rem;
        &:hover{
            color: #fff;
            text-decoration: none;
        }
    }
}