<%- include('partials/failureHeader') %>
<section class="thanks2">
    <div class="container">
        <div class="thanks2__content text-center">
            <h2>Sorry...We did not get your infromation, Please try again <br><br>
                <a href="/" class="thanks2__buttom">Try again</a>
            </h2>
             <img src="/images/footer-logo-removebg-preview.png" alt="thans">
        </div>
    </div>
</section>
<%- include('partials/footer') %>