<%- include('partials/homeHeader') %>
<section class="headerg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="headerg__content">
                    <h1>The All-in-One Marketing Platform your Business Deserves</h1>
                    <p>From beginner to pro, destined to grow.</p>
                </div>
                <form class="contact-form" method="POST" action="/">
                    <div class="form-group">
                        <input type="text"  class="form-control" name="name" id="name" placeholder="Enter Full Name..." required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control"  name="email" id="email" placeholder="Enter email address..." required>
                    </div>
                    <button type="submit" class="subscrubie">subscribe</button>
                </form>
            </div>
            <div class="col-lg-6 col-12">
                <div class="headerg__content">
                  <img src="/images/homesubbg.png" alt="homesubbg">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="rowimage">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-12">
                <div class="rowimageN">
                    <img src="/images/newrow1.svg" alt="one">
                </div>
            </div>
            <div class="col-lg-2 col-12">
                <div class="rowimageN">
                    <img src="/images/newrow2.svg" alt="two">
                </div>
            </div>
            <div class="col-lg-2 col-12">
                <div class="rowimageN">
                    <img src="/images/newrow3.svg" alt="three">
                </div>
            </div>
            <div class="col-lg-2 col-12">
                <div class="rowimageN">
                    <img src="/images/newrow-4.svg" alt="four">
                </div>
            </div>
            <div class="col-lg-2 col-12">
                <div class="rowimageN">
                    <img src="/images/newrow5.svg" alt="five">
                </div>
            </div>
            <div class="col-lg-2 col-12">
                <div class="rowimageN">
                    <img src="/images/newrow6.svg" alt="six">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="marketing">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="marketing__content">
                    <h3>Email Marketing</h3>
                    <h2>All The Benefits Of Email Marketing Minus The Coding</h2>
                    <p class="marketing__description">
                        Size doesn't matter to us. Big or small, we help your business deliver 
                        powerful emails that get opened and clicked every time. And are drop-dead beauitful
                    </p>
                    <a href="#" class="marketing__read">Read More</a>

                    <p class="marketing__feature">TOP FEATURE</p>
                    <ul class="marketing__list">

                        <div class="row">
                            <div class="col-lg-6">
                                <li class="marketing_item"><a href="#" class="marketing__link">Drag & Drop Email Editor</a></li>
                            </div>
                            <div class="col-lg-6">
                                <li class="marketing_item"><a href="#" class="marketing__link">A/B Testing</a></li>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-lg-6">
                                <li class="marketing_item"><a href="#" class="marketing__link">Data Analytics</a></li>
                            </div>
                            <div class="col-lg-6">
                                <li class="marketing_item"><a href="#" class="marketing__link">list Segmentation</a></li>
                            </div>
                        </div>
                       
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="marketing__images">
                    <img src="/images/marketing image only.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="marketing2">
    <div class="container">
        <div class="row d-flex justify-content-end">
            <div class="col-lg-6 col-12">
                <div class="marketing2__content">
                    <h3>Marketing Automation</h3>
                    <h2>Let Your Business Sell Itself</h2>
                    <p class="marketing2__description">
                        Simplify your marketing task and reach your goals at puch of a button. 
                        Save time and headaches with Moosend's advanced automation features and thrust email marketing forward.
                    </p>
                    <a href="#" class="marketing__read">Read More</a>

                    <p class="marketing2__feature">TOP FEATURE</p>
                    <ul class="marketing2__list">

                        <div class="row">
                            <div class="col-lg-6">
                                <li class="marketing_item"><a href="#" class="marketing__link">Email Automation Templates</a></li>
                            </div>
                            <div class="col-lg-6">
                                <li class="marketing_item"><a href="#" class="marketing__link">Drag & Drop Automation Editor</a></li>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-lg-6">
                                <li class="marketing_item"><a href="#" class="marketing__link">Website and User Tracking</a></li>
                            </div>
                            <div class="col-lg-6">
                                <li class="marketing_item"><a href="#" class="marketing__link">Advanced Reporting</a></li>
                            </div>
                        </div>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="marketing3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="marketing3__content">
                    <h3>Email Personalization</h3>
                    <h2>Highly Personalized Emails That Stimulate Thier Clicking Instinct</h2>
                    <p class="marketing3__description">
                        No more blah blah for your subscribe. Surprise them with strikingly relevant emails they actually want to read and send 
                        your open and click rates through the roof
                    </p>
                    <a href="#" class="marketing__read">Read More</a>

                    <p class="marketing3__feature">TOP FEATURE</p>
                    <ul class="marketing3__list">

                        <div class="row">
                            <div class="col-lg-6">
                                <li class="marketing_item"><a href="#" class="marketing__link">Advanced Personalization</a></li>
                            </div>
                            <div class="col-lg-6">
                                <li class="marketing_item"><a href="#" class="marketing__link">Product Recommendations</a></li>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-lg-6">
                                <li class="marketing_item"><a href="#" class="marketing__link">Weather-Based Recommendations</a></li>
                            </div>
                        </div>
                       
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="marketing__images">
                    <img src="/images/personalization-image.png" alt="imagep">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="marketing4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="marketing__images">
                    <img src="/images/landingpageIMAGE.png" alt="land">
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="marketing4__content">
                    <h3>Landing Pages</h3>
                    <h2>Create Beauitful Landing Pages in a Blink of an Eye</h2>
                    <p class="marketing4__description">
                       Move, crop, resize, group, add and change anything you want and create beautiful landing pages in just a faw minutes 
                       and say goodbaye to web designer expenses.
                    </p>
                    <a href="#" class="marketing__read">Read More</a>

                    <p class="marketing4__feature">TOP FEATURE</p>
                    <ul class="marketing4__list">

                        <div class="row">
                            <div class="col-lg-6">
                                <li class="marketing_item"><a href="#" class="marketing__link">Drag & Drop Landing Page Builder</a></li>
                            </div>
                            <div class="col-lg-6">
                                <li class="marketing_item"><a href="#" class="marketing__link">Premade Templates</a></li>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-lg-6">
                                <li class="marketing_item"><a href="#" class="marketing__link">Ultrafast Loading Pages</a></li>
                            </div>
                            <div class="col-lg-6">
                                <li class="marketing_item"><a href="#" class="marketing__link">Separate Mobile Editor</a></li>
                            </div>
                        </div>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="marketing5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="marketing5__content">
                    <h3>Subscription Forms</h3>
                    <h2>Fuel continued list growth with the right template</h2>
                    <p class="marketing5__description">
                       Grow your mailing list around the clock, collect vauable data effortlessly and share your forms across all your 
                       online channels with our packed-with-feature online
                    </p>
                    <a href="#" class="marketing__read">Read More</a>

                    <p class="marketing5__feature">TOP FEATURE</p>
                    <ul class="marketing5__list">

                        <div class="row">
                            <div class="col-lg-6">
                                <li class="marketing_item"><a href="#" class="marketing__link">Drag & drop Editor</a></li>
                            </div>
                            <div class="col-lg-6">
                                <li class="marketing_item"><a href="#" class="marketing__link">Visibiltiy Option</a></li>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-lg-6">
                                <li class="marketing_item"><a href="#" class="marketing__link">GDPR Compliance</a></li>
                            </div>
                            <div class="col-lg-6">
                                <li class="marketing_item"><a href="#" class="marketing__link">Anti-bot Protection</a></li>
                            </div>
                        </div>
                       
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="marketing__images">
                    <img src="/images/formsimages.png" alt="formd">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="apps">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="apps__content">
                    <h2>Your Favorite Apps Will Follow - No Coding Required</h2>
                    <p>
                        No matter your plan,easily integrate Moosend with any e-commerce platform, website or CRM without any 
                        HTML knowledge
                    </p>
                    <a href="#" class="apps__integrations">More Integrations</a>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="apps__images">
                    <img src="/images/appimage.png" alt="appimage">
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>