<%- include('partials/successHeader') %>
<section class="thanks">
    <div class="container">
        <div class="thanks__content text-center">
            <h2>You are Now subscribe to Moosend! We will send you information about our organization</h2>
             <img src="/images/footer-logo-removebg-preview.png" alt="thans">
        </div>
    </div>
</section>
<%- include('partials/footer') %>